version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: creator_support_postgres
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: creator_support
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
